/*

 =========================================================
 * Base - v1.0.0

 Contém a ligação entre os mixins e arquivos de base.
 Estrutura de Css Padrão.
 =========================================================

 */

@import './includes/var';
@import './includes/functions';
@import './includes/mixins/geral';
@import './includes/animacoes';

*{
	list-style: none;
	outline: none;
	border: none;
}

html, body {
	width: 100%;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background: $principal;
	font-family: $texto;
	color: $fonte-1;
	box-sizing: border-box;
}

// Padrões
.btn {
	@include btnRedon;
}
.btn-principal { 
	@include btnCor($cor-1, transparent, $fonte-1, $cor-2); 
}


// Componentes
@import './includes/componentes/table';
@import './includes/componentes/modal';
@import './includes/componentes/forms';
@import './includes/componentes/btn';
@import './includes/componentes/bugfix';



//Estrutura Mobile-First
header{}

main{}

footer{}

// Import das Medias Queries e Telas Maiores	
@import './includes/responsivo';